#tutorexamples {
    padding: 5vw 8vw 0 8vw;
    text-align: center;
}

#tutorexamples .exampleboxes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
    background: rgb(243, 243, 243);
}

#tutorexamples .exampleboxes .examples {
    padding: 30px 10px;
}

.links {
    margin-top: 15px;
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(50px, 50px));
    grid-gap: 10px;
    justify-content: center;
}

.links a {
    padding: 10px 13px;
    border: 0.5px solid var(--dark-grey);
    cursor: pointer;
    color: var(--dark-grey);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 3px;
    cursor: pointer;
}

.links a:hover {
    background: var(--dark-grey);
    color: white;
    transition: var(--transition);
}