#reg-student {
    padding-top: 200px;
    text-align: center;
}

#reg-student h1 {
    font-size: 40px;
    color: var(--dark-grey);
}

.register-container h2 {
    margin-bottom: 1rem;
}

.register-container {
    width: 60%;
    align-self: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    margin-top: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
    background: rgb(243, 243, 243);
    padding: 3rem;
    gap: 1rem;
    border: 0.1px solid var(--dark-grey);
    border-radius: 10px;
}

.register-container label {
    text-align: left;
}

.register-container input, textarea {
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 0.1px solid var(--dark-grey);
    resize: none;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 3px;
}

.register-container button {
    padding: 1rem;
    background-color: var(--dark-grey);
    color: white;
    margin-right:80%;
    border-radius: 0.5rem;
    border: 0.1px solid var(--dark-grey);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 3px;
}